<div class="container">
    <div class="row">
        <div class="col-6" style="background-color: blue; height: 50%;">
            View Customer
        </div>
        <div class="col-6" style="background-color: green;">
            Add Customer
        </div>
    </div>
    <div class="row">
        <div class="col-6" style="background-color: orange;">
            View Customer
        </div>
        <div class="col-6" style="background-color: red;">
            Add Customer
        </div>
    </div>
</div>