<!-- <div class="container">
    <div class="row">
        <div class="col action-div add-customer" (click)="handleAction('Add Customer')">
            Add Customer
        </div>
        <div class="col action-div update-customer" (click)="handleAction('Update Customer')">
            Update Customer
        </div>
        <div class="col action-div delete-customer" (click)="handleAction('Delete Customer')">
            Delete Customer
        </div>
        <div class="col action-div view-customer" (click)="handleAction('View Customer')">
            View Customer
        </div>
    </div>
    <div class="row">

    </div>
</div> -->

<div class="">
    <h2>Customers</h2>
     <button class="btn btn-primary" (click)="showAddCustomer()">Add Customer<i class="bi bi-plus"></i></button>
    <hr>

    <app-search-bar (search)="handleSearch($event)"></app-search-bar>
    <table id="example" class="table table-striped">
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <!-- <th>Created At</th>
            <th>Updated At</th> -->
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of filteredCustomers;  let i = index">
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.address }}</td>
                <!-- <td>{{ customer.createdAt | date:'medium' }}</td>
                <td>{{ customer.updatedAt | date:'medium' }}</td> -->
                <td>
                    <button (click)="showEditCustomer(customer,i)" class="btn btn-primary btn-sm m-1">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button *ngIf="userRole == 'admin'" (click)="deleteCustomer(i)" class="btn btn-danger btn-sm m-1">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button (click)="showViewCustomer(customer)" class="btn btn-success btn-sm m-1">
                        <i class="bi bi-eye"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div #editCustomer></div>
<div #addCustomer></div>
<div #viewCustomer></div>
