<div *ngIf="isLoading">
    <app-progress-spinner></app-progress-spinner>
</div>

<div class="" *ngIf="!isLoading">
    <h2>Interactions</h2>
     <button (click)="showAddInteraction()" class="btn btn-primary">Add Interaction<i class="bi bi-plus"></i></button>
    <hr>
    <app-search-bar (search)="handleSearch($event)"></app-search-bar>
    <table id="example" class="table table-striped">
        <thead>
          <tr>
            <th>Customer</th>
            <th>Type</th>
            <th>Date</th>
            <th>Handled By</th>
            <th>Notes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let interaction of filteredInteractions | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index">
                <td>{{ interaction.customer.name }}</td>
                <td>{{ interaction.type }}</td>
            <td>{{ interaction.date | date:'medium' }}</td>
            <td>{{ interaction.handledBy.name }}</td>
            <td>{{ interaction.notes }}</td>
                <td>
                    <button (click)="showEditInteraction(interaction, i )" class="btn btn-primary btn-sm m-1">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button  *ngIf="userRole == 'admin' " (click)="deleteInteraction(i)" class="btn btn-danger btn-sm m-1">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button (click)="showViewInteraction(interaction)" class="btn btn-success btn-sm m-1">
                        <i class="bi bi-eye"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex align-items-center justify-content-center ">

        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
<div #editInteraction></div>
<div #addInteraction></div>
<div #viewInteraction></div>

