<!-- <p>kanban-board works!</p>
<div class="kanban-board">
  <div *ngFor="let column of kanbanData" class="kanban-column" (drop)="onDrop($event, column.stage)">
    <h3>{{ column.stage }}</h3>
    <h2>{{column | json}}</h2>
    <div *ngFor="let opportunity of column.opportunities" class="kanban-item" draggable="true"
      (dragstart)="onDragStart($event, opportunity)">
    <div *ngFor="let data of opportunity">
      <p>{{data}}</p>
    </div>
    </div>
  </div>
</div> -->

<!-- 
<div *ngFor="let column of kanbanData" class="kanban-column" (drop)="onDrop($event, column.stage)">
  <h3>{{ column.stage }}</h3>
  <h2>{{column | json}}</h2>
</div> -->