#sidebar {
  width: 200px;
  text-align: left;
}

@media (max-width: 768px) {
  #sidebar {
    width: 70px; /* Adjust width for smaller screens */
  }

  #sidebar .nav-item {
    text-align: left;
  }

  #sidebar .nav-link i {
    font-size: 1.5rem; /* Enlarge icons for better visibility */
  }

  #sidebar .nav-link span {
    display: none; /* Hide text on smaller screens */
  }
}

.nav-item:hover{
  background-color: #0d6efd;
  color: white;

}
/* .active-item {
  background-color: #0d6efd;
  color: white;
} */


.nav-item{
  padding: 10px;
}

