#sidebar {
  width: 200px; /* Fixed width */
  position: fixed; /* Fix the sidebar position */
  top: 5px; /* Offset to align with the padding top */
  left: 0;
  height: calc(100vh - 70px); /* Full height minus top padding */
  overflow-y: auto; /* Enable scrolling inside the sidebar if necessary */
  background-color: #f8f9fa; /* Optional: Sidebar background color */
}

.nav-item:hover {
  background-color: #0d6efd;
  color: white;
}

.nav-item {
  padding: 10px;
}

.active-item{
  background-color: #0d6efd;
  color: white;
}

@media (max-width: 768px) {
  #sidebar {
    width: 70px; /* Adjust width for smaller screens */
  }

  #sidebar .nav-item {
    text-align: left;
  }

  #sidebar .nav-link i {
    font-size: 1.5rem; /* Enlarge icons for better visibility */
  }

  #sidebar .nav-link span {
    display: none; /* Hide text on smaller screens */
  }
}

/* Main Content Styling */
.flex-grow-1 {
  margin-left: 200px; /* Push main content to the right of sidebar */
  overflow-y: auto; /* Enable scrolling for content area */
  max-height: 100vh; /* Restrict content height to viewport */
}
