<div class="d-flex">
  <!-- Sidebar -->
  <nav class="bg-light border-end vh-100" id="sidebar" style="padding-top: 70px;">
    <ul class="list-unstyled" *ngFor="let menu of sidebarMenu">
      <li class="nav-item my-3" (click)="toggleActive($event)">
        <a routerLink="{{menu}}" class="nav-link">
          <span class="d-none d-md-inline">{{ menu | titlecase }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Main Content -->
  <div class="flex-grow-1 p-3">
    <div style="padding-top: 80px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>