<div *ngIf="isLoading">
    <app-progress-spinner></app-progress-spinner>
</div>


<div class="" *ngIf="!isLoading">
    <h2>Leads</h2>
    <button class="btn btn-primary m-2" (click)="showAddLead()">Add Lead<i class="bi bi-plus"></i></button>
    <button *ngIf ="userRole == 'Admin'" class="btn btn-warning m-2" (click)="addToCustomer()">Add to Customer</button>
    <hr>
    <app-search-bar (search)="handleSearch($event)"></app-search-bar>
    <table id="example" class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Assigned To</th>
            <th>Source</th>
            <!-- <th>Created At</th>
            <th>Updated At</th> -->
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lead of filteredLeads | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index">
                <td>{{ lead.name }}</td>
                <td>{{ lead.email }}</td>
                <td>{{ lead.phone }}</td>
                <td>{{ lead.status }}</td>
                <td>{{ lead.assignedTo?.name }}</td>
                <td>{{ lead.source }}</td>
                <!-- <td>{{ lead.createdAt | date:'medium' }}</td>
                <td>{{ lead.updatedAt | date:'medium' }}</td> -->
                <td>
                    <button (click)="showEditLead(lead, i)" class="btn btn-primary btn-sm m-1">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button *ngIf="userRole == 'admin'" (click)="deleteLead(i)" class="btn btn-danger btn-sm m-1">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button (click)="showViewLead(lead)" class="btn btn-success btn-sm m-1">
                        <i class="bi bi-eye"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex align-items-center justify-content-center ">

        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
<div #editLead></div>
<div #addLead></div>
<div #viewLead></div>
