<p-dialog header="Add Customer" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
  <span class="p-text-secondary block mb-8">Add a New Customer</span>

  <!-- Reactive Form -->
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <div class="flex items-center gap-4 mb-4 ">
      <label for="name" class="font-semibold w-24 mr-2">Name</label>
      <input pInputText id="name" class="flex-auto" formControlName="name" autocomplete="off" />
      <p-message *ngIf="customerForm.controls['name'].invalid && customerForm.controls['name'].touched" severity="error"
        text="Name is required"></p-message>
    </div>

    <!-- Email -->
    <div class="flex items-center gap-4 mb-4 ">
      <label for="email" class="font-semibold w-24">Email</label>
      <input pInputText id="email" class="flex-auto" formControlName="email" autocomplete="off" />
      <p-message *ngIf="customerForm.controls['email'].invalid && customerForm.controls['email'].touched"
        severity="error" text="Valid email is required"></p-message>
    </div>

    <!-- Phone -->
    <div class="flex items-center gap-4 mb-4 ">
      <label for="phone" class="font-semibold w-24">Phone</label>
      <input pInputText id="phone" class="flex-auto" formControlName="phone" autocomplete="off" />
    </div>

    <!-- Address -->
    <div class="flex items-center gap-4 mb-4 ">
      <label for="address" class="font-semibold w-24">Address</label>
      <input pInputText id="address" class="flex-auto" formControlName="address" autocomplete="off" />
    </div>



    <div class="flex justify-end gap-2 ">
      <p-button label="Cancel" severity="secondary" (click)="visible = false" />
      <p-button type="submit" label="Save" [disabled]="customerForm.invalid" />
    </div>
  </form>
</p-dialog>